Host bitbucket.org
    User carstenbach
    IdentityFile ~/.ssh/bitbucket_rsa
Host github.com
    User git
    Hostname ssh.github.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github_rsa
    Port 443

